/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2 {
    font-size: 32px;
    color: rgb(23, 122, 117)
  }

  h6 {
    font-size: 1rem;
  }
  
  a {
    color: #d21034;
  }

  p {
    font-size: 1rem;
  }

  .container {
    /* background-color: white; */
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }

  .col-lg-7{
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .box {
    padding: 20px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: blue;
  }

  .vizualization {
    width: 50% !important;
    height: 50% !important;
  }

  .float-left {
    float: left !important;
  }

  .rounded {
    border-radius: .25rem !important;
  }

  .img {
    width: 100% !important;
    height: 100% !important;
    vertical-align: middle;
  }

  .footer {
    background-color: black;
    color: rgb(23, 122, 117);
    position: fixed;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-top: 15px;
    bottom: 0px;
    min-height: auto;
  }