
.navbar-brand{
    font-family: 'Calibri', sans-serif;
    color: #eee;
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
}

.navbar-brand:hover{
    color: #eee;
}

.nav-item{
    padding-left: 15px;
}


.col-sm-6 {
    padding: 10px;
}


.navbar-custom .navbar-toggler {
    border-color: rgb(29, 211, 165);
}

.navbar-toggler-icon{
    padding-top: 0.25rem;
    color: rgb(29, 211, 165);
}

.navbar-custom .navbar-toggler .navbar-toggler-icon:hover{
    color: #eee;
    border-color: #eee;
}

.navbar-custom {
    /* background-color:#272838; */
    background-color: black;
}


.navbar-custom .navbar-nav .nav-link {
    color: rgb(29, 211, 165);
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link{
    color: #eee;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom .dropdown-menu {
    background-color: black;
}

.navbar-custom .dropdown-item {
    color: rgb(211, 29, 59);
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: black;
}


.active-nav .fa-home{
    color: #eee;
    font-size: 1.5rem;
}

.fa-home{
    font-size: 1.5rem;
}

a#navbarDropdownMenuLink.nav-link.dropdown-toggle.active-nav{
    color: #eee;
}

.navbar-custom .navbar-nav a.nav-link.active-nav{
    color: #eee;  
}